---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include navbar.html %}
    <section class="home img-bg" style="background: url(images/bg/bgimage.jpeg) 0 0; background-size: cover;">
        <div class="overlay opacity5"></div>
        {% include name-block.html %}
        {% include menu-block.html %}
        {% include content-profile.html %}
                  <div class="content-blocks portfolio">
                    <section class="content">
                    <div class="block-content">
                      <h3 class="block-title">.portfolio</h3></div></section>
        <div class="carousel h-100 slide" data-ride="carousel" id="welcomeSlider">
            <!-- Carousel Inner -->
            <div class="carousel-inner h-100">
                <div class="carousel-item h-100 bg-img active" style="background-image: url(img/bg-img/1.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>01.</span>
                            <h2> I dream in Black and White</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/2.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>02.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/3.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>03.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/4.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>04.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/5.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>05.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/6.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>06.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/7.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>07.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/8.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>08.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/9.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>09.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/10.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>10.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/11.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>11.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/12.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>12.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 bg-img" style="background-image: url(img/bg-img/13.jpg);">
                    <div class="carousel-content h-100">
                        <div class="slide-text">
                            <span>13.</span>
                            <h2> Believe you can fly</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#welcomeSlider" data-slide-to="0" class="active bg-img" style="background-image: url(img/bg-img/1.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="1" class="bg-img" style="background-image: url(img/bg-img/2.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="2" class="bg-img" style="background-image: url(img/bg-img/3.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="3" class="bg-img" style="background-image: url(img/bg-img/4.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="4" class="bg-img" style="background-image: url(img/bg-img/5.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="5" class="bg-img" style="background-image: url(img/bg-img/6.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="6" class="bg-img" style="background-image: url(img/bg-img/7.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="7" class="bg-img" style="background-image: url(img/bg-img/8.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="8" class="bg-img" style="background-image: url(img/bg-img/9.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="9" class="bg-img" style="background-image: url(img/bg-img/10.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="10" class="bg-img" style="background-image: url(img/bg-img/11.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="11" class="bg-img" style="background-image: url(img/bg-img/12.jpg);"></li>
                <li data-target="#welcomeSlider" data-slide-to="12" class="bg-img" style="background-image: url(img/bg-img/13.jpg);"></li>
            </ol>
        </div>
            <div class="content-blocks blog">
                <section class="content">
                    <div class="block-content">
                        <h3 class="block-title">.fragments</h3>
                        <div class="row">
                            <div id="test" class="col-md-10 mx-auto">
                                <div class="post">
                                    <div class="post-title">
                                        <a class="open-post" href="post-single.html"><h2>Typography for web</h2></a>
                                        <p class="post-info">
                                            <span class="post-category">Food</span>
                                            <span class="slash"></span>
                                            <span class="post-date">Dec 08, 2017</span>
                                        </p>
                                    </div>
                                  <div class="post-body">
                                       <p>lorem ipsum lalalalalalalla</p>
                                    </div>
                                </div>
                               <div class="post">
                                    <div class="post-title">
                                        <a class="open-post" href="post-single.html"><h2>Llalalalaal</h2></a>
                                        <p class="post-info">
                                            <span class="post-category">Food</span>
                                            <span class="slash"></span>
                                            <span class="post-date">Jan 28, 2017</span>
                                        </p>
                                    </div>
                                </div> 
                               <div class="post blur">
                                    <div class="post-title">
                                        <a class="open-post" href="post-single.html"><h2>Llalalalaal</h2></a>
                                        <p class="post-info">
                                            <span class="post-category">Food</span>
                                            <span class="slash"></span>
                                            <span class="post-date">Jan 28, 2017</span>
                                        </p>
                                    </div>
                                </div> 
                               <div class="post">
                                    <div class="post-title">
                                        <a class="open-post" href="post-single.html"><h2>Llalalalaal</h2></a>
                                        <p class="post-info">
                                            <span class="post-category">Food</span>
                                            <span class="slash"></span>
                                            <span class="post-date">Jan 28, 2017</span>
                                        </p>
                                    </div>
                                </div>
                              <br><br>
                               <div class="post">
                                  <div class="post-title">
                                    <a class="open-post" href="post-single.html">
                                      <h2>Load More..</h2></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="content-blocks contact">
                <section class="content">
                    <div class="block-content">
                        <h3 class="block-title">Let's get in touch!</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <form id="contactForm" data-toggle="validator" class="contact-form shake">
                                    <div class="form-group">
                                        <input id="name" type="text" class="form-control" name="Name" autocomplete="off" required data-error="Please enter your name" placeholder="* Your Name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input id="email" type="email" class="form-control" name="email" autocomplete="off" required data-error="Please enter your email" placeholder="* Your Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="message" class="form-control textarea" rows="10" name="Message" required data-error="Please enter your message subject" placeholder="* Your Message"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button id="submit" type="submit" class="btn selected">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    </div>
                                </form>
                            </div>
                                </div>
                            </div>
            <div class="content-blocks pop">
                <div id="close-pop" class="close-pop">Close <!--<i class="ion-ios-close-empty">--><i class="fa fa-home" aria-hidden="true"></i></div>
    <script src="js/plugins.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmsb2nGLuIl04bt7CWJozRMhThvGa3y1w"></script>
    <script src="js/main.js"></script>
</body>
</html>
