<div class="container">
  <div class="name-block">
    <div class="name-block-container">
      <h1><span>Hello, I'm</span>Ivonne Kristiani</h1>
      <h2>Project Manager</h2>
      <ul class="social">
        <li><a href="https://www.instagram.com/ivonne.kristiani/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/ipoone"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/ipoone"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="mailto:ivonne.kristiani@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>