<div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
</div>
<div class="preloader-left"></div>
<div class="inline-menu-container">
  <ul class="inline-menu">
    <li class="about menu-item">.profile</li>
    <li class="portfolio menu-item">.portfolio</li>
    <li class="blog menu-item">.fragments</li>
    <li class="blog menu-item">.new</li>
    <li class="contact menu-item">.contact</li>
    <li id="close" class="menu-item"><i class="ion-ios-close-empty"></i></li>
  </ul>
</div>